<div>
  <ul>
    <li *ngFor="let page of pages" (click)="setPage(page)" >
      <span *ngIf="(page)!==currentPage; else current_page">{{page+1}}</span>
      <ng-template #current_page>
        <span style="background: #ccc">{{ page+1 }}</span>
      </ng-template>
    </li>
  </ul>
</div>
