<ng-content></ng-content>
<tr [formGroup]="FG" >
  <th *ngFor="let header of Headers">
    <span (click)="setSort(header.field)">{{header.name}}
      <span *ngIf="currentSort.field==header.field">
        <span *ngIf="currentSort.direction>0">&#8593;</span>
        <span *ngIf="currentSort.direction<0">&#8595;</span>
      </span>
    </span>
    <div *ngIf="header.filter">
      <input [formControlName]="header.field" [id]="header.field" />
    </div>
  </th>
</tr>
