<div>
  <table>
    <thead app-grid-header [Headers]="dataProvider.header">
    </thead>
    <tbody *ngIf="currentPage.length>0">
      <tr *ngFor="let row of currentPage">
        <td *ngFor="let header of dataProvider.header">
          {{row?.[header.field]}}
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination></app-pagination>
</div>
